<form (ngSubmit)="login()"  #formulario="ngForm" >
  <div class="form-group">
    <label for="usuario">Usuário</label>
    <input type="email" [(ngModel)] = "usuario.nome" required name="usuario" class="form-control" id="usuario" placeholder="Digite seu usuário">
  </div>
  <div class="form-group">
    <label for="senha">Password</label>
    <input type="password" [(ngModel)] = "usuario.senha" required name="senha" class="form-control" id="senha" placeholder="Senha">
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="mostrarErro" >
    Usuário ou senha incorreto(s).
  </div>
  <button type="submit" (click) = "login()" class="btn btn-primary" [disabled]="!formulario.form.valid">Entrar</button>
</form>